@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');


*,
*::before,
*::after {
      margin: 0;
      padding: 0;
      font-family: "Comfortaa", sans-serif;
      font-optical-sizing: auto;
      box-sizing: border-box;
      font-style: normal;
}

 body{
    background-color: #121212;
    color: aliceblue !important;
    margin: 0;
    padding: 0;

  }   
 ::-webkit-scrollbar {
  width: 1px;  
  height: 6px; 
}

::-webkit-scrollbar-track {
  background: #121212;
}

::-webkit-scrollbar-thumb {
  background: #444;  
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #666;  
}